@mixin colors($name, $color, $dark: false) {
    &.#{$name} {
        @if $dark == true {
            color: $color-text-body;
        } @else if ($dark == false) {
            color: $color-text-white;
        } @else {
            color: $dark;
            border-color: $dark;
        }


        &:after {
            content: "#{$name}:";
            position: absolute;
            bottom: px(25);
            left: px(10);
            font-weight: bold;
        }

        &:before {
            content: "#{$color}";
            position: absolute;
            bottom: px(5);
            left: px(10);
        }

        background: $color;
    }
}

.guide-test-body {
    height: 300px;
    position: relative;
}


.guide-colors {
    .guide-group {
        @include sectionBox();
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.color {
    border-radius: px(10);
    border: 1px solid $color-text-body;
    height: px(100);
    width: px(250);
    position: relative;
    font-size: px(12);
    margin: px(5);

    @include colors('page-background', $color-page-background, true);
    @include colors('section-background', $color-section-background, true);
    @include colors('section-border', $color-section-border, true);

    @include colors('text-white', $color-text-white, true);
    @include colors('text-light', $color-text-light, true);
    @include colors('text-body', $color-text-body);
    @include colors('text-body-disabled', $color-text-body-disabled, true);
    @include colors('text-headline', $color-text-headline);

    @include colors('primary', $color-primary);
    @include colors('primary-disabled', $color-primary-disabled, true);
    @include colors('secondary', $color-secondary);
    @include colors('secondary-light', $color-secondary-light, true);

    @include colors('destroy', $color-destroy, false);
    @include colors('danger', $color-danger, false);
    @include colors('danger-background', $color-danger-background, $color-danger);

    @include colors('validation', $color-validation, false);
    @include colors('validation-background', $color-validation-background, $color-validation);

    @include colors('create', $color-create, false);
    @include colors('success', $color-success, false);
    @include colors('success-background', $color-success-background, $color-success);
}

