/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
    background: #2F3640;
    font-family: 'Source Code Pro', Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    border: 0 !important;
}

.pln {
    color: #E6E9ED;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #656D78;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    padding-left: 1em;
    background-color: #2F3640;
    list-style-type: decimal;
}

@media screen {

    /* string content */
    .str {
        color: #FFCE54;
    }

    /* keyword */
    .kwd {
        color: #4FC1E9;
    }

    /* comment */
    .com {
        color: #656D78;
    }

    /* type name */
    .typ {
        color: #4FC1E9;
    }

    /* literal value */
    .lit {
        color: #AC92EC;
    }

    /* punctuation */
    .pun {
        color: #E6E9ED;
    }

    /* lisp open bracket */
    .opn {
        color: #E6E9ED;
    }

    /* lisp close bracket */
    .clo {
        color: #E6E9ED;
    }

    /* markup tag name */
    .tag {
        color: #00C4FF;
    }

    /* markup attribute name */
    .atn {
        color: #00ACFF;
    }

    /* markup attribute value */
    .atv {
        color: #9073FF;
    }

    /* declaration */
    .dec {
        color: #AC92EC;
    }

    /* variable name */
    .var {
        color: #E6E9ED;
    }

    /* function name */
    .fun {
        color: #E6E9ED;
    }
}