.org-menu-slide-out {
    @include sectionBox();
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    padding: px(25);

    header {
        position: relative;
        line-height: 22px;
        font-size: px(16);

        .icon {
            position: absolute;
            left: px(-30)
        }
    }

    .body {
        position: relative;
        margin-left: px(25);

        .close {
            position: absolute;
            top: -15;
            right: -10;
            cursor: pointer;
        }

        .nav {
            display: flex;
            flex-direction: column;
            line-height: px(26);

            .group {
                color: $color-text-light;
            }

            a {
                font-size: px(16);
            }
        }
    }
}