h1 {
    font-size: px(24);
    line-height: px(30);
    margin-bottom: px(10);
    font-weight: 600;
    color: $color-text-headline;
}

h2 {
    font-size: px(20);
    line-height: px(24);
    margin-bottom: px(10);
    font-weight: 600;
    color: $color-text-headline;
}

h1.atom-page-title {
    display: flex;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:hover{
        color: $color-secondary;
    }
}

.icon {

}