$style-guide: true;
@import "style";
@import "style-guide/base";
@import "style-guide/code-pretty";

body {
    padding-left: px(20);
    background: $color-dark-grey;

    > h1, > section > header > h2, > section > h3 {
        color: $color-white
    }

    > h1 {
        background: #333;
        padding: px(20);
        margin: 0;
        margin-left: px(-20);

        small {
            display: block;
            font-size: px(14);
        }
    }

    .guide-book {
        background: $color-primary;
    }

    code,
    .code,
    pre {
        display: block;
        position: relative;
        font-family: 'Source Code Pro';
        font-size: px(15);
        padding: 10px;

        &:before {
            display: block;
            width: calc(100%);
            color: $color-white;
            padding: 5px;
            text-transform: uppercase;
            content: attr(data-lang);
            background: $color-primary;
        }

    }
}

section.guide {
    padding: px(10);
    margin-bottom: px(30);
    padding-left: px(50);

    > header {
        margin-bottom: px(20);

        h2 {
            margin-left: px(-50);
        }
    }

    > h3 {
        font-size: 18px;
        font-weight: 500;
        padding: px(20, 0);
    }

    .guide-component-name {
        color: $color-dark-grey;
        font-size: px(16);
        display: inline-block;
        padding: px(15, 25);
        background: $color-page-background;
        border-radius: px(5, 5, 0, 0);
    }

    > atomic {
        border: px(1) dashed $color-light-grey;
        padding: px(30);
        display: block;
        background: $color-page-background;

        & + pre {
            margin-bottom: px(30);
        }
    }

    .guide-usage {
        padding: px(20, 10);
        display: block;
        background: $color-page-background;
    }
}