$style-guide: true;
@import "style";

section.guide {
    padding: px(10);
}

table.guide {
    thead th {
        font-size: px(16);
        font-weight: 600;
        border-bottom: 1px solid $color-dark-grey;
        padding: px(10);
    }

    td {
        padding: px(10, 20);
        border-bottom: 1px solid $color-dark-grey;
    }
}