/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, .org-widget > header, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  min-height: 100%;
  min-width: fit-content; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans";
  background: #F8F8F8;
  color: #5A5854;
  font-size: 1.4rem; }

button {
  background-color: #FFF;
  border-radius: 0.6rem;
  padding: 1rem 3rem;
  border: #5A5854 solid 0.2rem;
  color: #5A5854;
  font-size: 1.4rem;
  cursor: pointer;
  white-space: nowrap;
  margin: 0.2rem;
  transition: all  0.3s ease; }
  button.hover, button:hover {
    border-color: #457AB2;
    color: #457AB2; }
  button.focus {
    border-color: #457AB2;
    color: #457AB2;
    outline: none; }
  button:focus {
    border-color: #457AB2;
    color: #457AB2;
    outline: none; }
  button:active, button.active {
    background: #457AB2;
    border-color: #457AB2;
    color: #FFF; }
  button:disabled, button.disabled {
    border-color: #c2d2e3;
    color: #c2d2e3;
    cursor: default; }
    button:disabled:hover, button.disabled:hover {
      box-shadow: none; }
  button.primary {
    background-color: #457AB2;
    color: #FFF;
    border: #457AB2 solid 0.2rem; }
    button.primary.hover, button.primary:hover {
      box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25); }
    button.primary.focus {
      box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25); }
    button.primary:focus {
      box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25); }
    button.primary:active, button.primary.active {
      box-shadow: inset 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.5); }
    button.primary:disabled, button.primary.disabled {
      border: solid 0.2rem #c2d2e3;
      background: #c2d2e3; }
      button.primary:disabled:hover, button.primary.disabled:hover {
        box-shadow: none; }
  button.subdued {
    background-color: transparent;
    color: #3AB1BD;
    border: transparent solid 0.1rem; }
    button.subdued.hover, table.org-table-dashboard tbody tr:hover td button, button.subdued:hover {
      border-color: #3AB1BD; }
    button.subdued.focus {
      border-color: #3AB1BD; }
    button.subdued:focus {
      border-color: #3AB1BD; }
    button.subdued:active, button.subdued.active {
      background: #3AB1BD;
      border-color: #3AB1BD;
      color: #FFF; }
    button.subdued:disabled, button.subdued.disabled {
      border-color: #c9c8c7;
      color: #c9c8c7; }

h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #5A5854; }

h2, .org-widget > header {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #5A5854; }

h1.atom-page-title {
  display: flex; }

a {
  color: #457AB2;
  text-decoration: none; }
  a:hover {
    color: #3AB1BD; }

/**
---- SELECT ----
 */
select {
  display: inline-block;
  background: #FFF;
  border: 1px solid #5A5854;
  border-radius: 2px;
  padding-left: 1.5rem;
  padding-right: 3.5rem;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #5A5854;
  background: #FFF;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%235A5854%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 1.5rem top 50%, 0 0;
  background-size: .65em auto, 100%; }
  select::-ms-expand {
    display: none; }
  select option {
    font-weight: normal;
    font-size: 1.2rem; }

img.atom-image-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid #C4C4C4; }

.mol-counter-labeled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #5A5854; }
  .mol-counter-labeled span {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.2rem; }
  .mol-counter-labeled small {
    font-size: 1.4rem;
    line-height: 3rem; }

section.org-kpi {
  border: 0.1rem solid #C4C4C4;
  border-radius: 0.5rem;
  background: #FFF;
  display: flex;
  flex-direction: row;
  padding: 1.4rem 0rem; }
  section.org-kpi .mol-counter-labeled {
    border-right: 0.1rem solid #C4C4C4;
    flex: 1 1 0px; }
    section.org-kpi .mol-counter-labeled:last-child {
      border-right: none; }

table.org-table-dashboard {
  width: 100%; }
  table.org-table-dashboard td, table.org-table-dashboard th {
    padding: 1rem;
    line-height: 2rem;
    vertical-align: middle;
    transition: all  0.3s ease; }
    table.org-table-dashboard td:first-child, table.org-table-dashboard th:first-child {
      padding-left: 3rem; }
    table.org-table-dashboard td:last-child, table.org-table-dashboard th:last-child {
      padding-right: 3rem; }
  table.org-table-dashboard thead th {
    color: #C4C4C4;
    font-size: 1.4rem;
    height: 6rem;
    text-align: left;
    font-weight: 700;
    line-height: 1.4rem;
    border-bottom: 0.1rem solid #C4C4C4; }
  table.org-table-dashboard tbody {
    font-size: 1.6rem; }
    table.org-table-dashboard tbody tr td {
      height: 4rem; }
    table.org-table-dashboard tbody tr:hover td {
      background: rgba(58, 177, 189, 0.2); }
      table.org-table-dashboard tbody tr:hover td.highlight {
        color: #3AB1BD; }

.org-widget {
  border: 0.1rem solid #C4C4C4;
  border-radius: 0.5rem;
  background: #FFF;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3.5rem;
  padding-top: 2rem; }
  .org-widget > header {
    position: absolute;
    top: -3.5rem; }
  .org-widget > nav {
    display: none; }
  .org-widget .body {
    flex: 1 1 auto;
    padding-bottom: 1rem; }
  .org-widget footer {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 2.5rem;
    border-top: 0.1rem solid #C4C4C4;
    flex: 0 0 auto; }

.org-menu-slide-out {
  border: 0.1rem solid #C4C4C4;
  border-radius: 0.5rem;
  background: #FFF;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
  padding: 2.5rem; }
  .org-menu-slide-out header {
    position: relative;
    line-height: 22px;
    font-size: 1.6rem; }
    .org-menu-slide-out header .icon {
      position: absolute;
      left: -3rem; }
  .org-menu-slide-out .body {
    position: relative;
    margin-left: 2.5rem; }
    .org-menu-slide-out .body .close {
      position: absolute;
      top: -15;
      right: -10;
      cursor: pointer; }
    .org-menu-slide-out .body .nav {
      display: flex;
      flex-direction: column;
      line-height: 2.6rem; }
      .org-menu-slide-out .body .nav .group {
        color: #C4C4C4; }
      .org-menu-slide-out .body .nav a {
        font-size: 1.6rem; }

.tpl-program-console-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; }
  .tpl-program-console-header .col-half {
    width: 50%; }
  .tpl-program-console-header .col-half:first-child {
    display: flex;
    flex-direction: row;
    justify-content: start; }
    .tpl-program-console-header .col-half:first-child .atom-image-circle {
      margin-right: 2rem;
      height: 9rem;
      width: 9rem; }
    .tpl-program-console-header .col-half:first-child .atom-page-title {
      margin-top: 1.5rem; }

.tpl-program-console-portals {
  min-height: 40rem; }
  .tpl-program-console-portals .body .org-table-dashboard {
    border-radius: 0.5rem;
    overflow: hidden; }

.guide-test-body {
  height: 300px;
  position: relative; }

.guide-colors .guide-group {
  border: 0.1rem solid #C4C4C4;
  border-radius: 0.5rem;
  background: #FFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.color {
  border-radius: 1rem;
  border: 1px solid #5A5854;
  height: 10rem;
  width: 25rem;
  position: relative;
  font-size: 1.2rem;
  margin: 0.5rem; }
  .color.page-background {
    color: #5A5854;
    background: #F8F8F8; }
    .color.page-background:after {
      content: "page-background:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.page-background:before {
      content: "#F8F8F8";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.section-background {
    color: #5A5854;
    background: #FFF; }
    .color.section-background:after {
      content: "section-background:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.section-background:before {
      content: "#FFF";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.section-border {
    color: #5A5854;
    background: #C4C4C4; }
    .color.section-border:after {
      content: "section-border:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.section-border:before {
      content: "#C4C4C4";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.text-white {
    color: #5A5854;
    background: #FFF; }
    .color.text-white:after {
      content: "text-white:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.text-white:before {
      content: "#FFF";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.text-light {
    color: #5A5854;
    background: #C4C4C4; }
    .color.text-light:after {
      content: "text-light:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.text-light:before {
      content: "#C4C4C4";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.text-body {
    color: #FFF;
    background: #5A5854; }
    .color.text-body:after {
      content: "text-body:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.text-body:before {
      content: "#5A5854";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.text-body-disabled {
    color: #5A5854;
    background: #c9c8c7; }
    .color.text-body-disabled:after {
      content: "text-body-disabled:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.text-body-disabled:before {
      content: "#c9c8c7";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.text-headline {
    color: #FFF;
    background: #5A5854; }
    .color.text-headline:after {
      content: "text-headline:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.text-headline:before {
      content: "#5A5854";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.primary {
    color: #FFF;
    background: #457AB2; }
    .color.primary:after {
      content: "primary:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.primary:before {
      content: "#457AB2";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.primary-disabled {
    color: #5A5854;
    background: #c2d2e3; }
    .color.primary-disabled:after {
      content: "primary-disabled:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.primary-disabled:before {
      content: "#c2d2e3";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.secondary {
    color: #FFF;
    background: #3AB1BD; }
    .color.secondary:after {
      content: "secondary:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.secondary:before {
      content: "#3AB1BD";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.secondary-light {
    color: #5A5854;
    background: rgba(58, 177, 189, 0.2); }
    .color.secondary-light:after {
      content: "secondary-light:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.secondary-light:before {
      content: "rgba(58, 177, 189, 0.2)";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.destroy {
    color: #FFF;
    background: #B53131; }
    .color.destroy:after {
      content: "destroy:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.destroy:before {
      content: "#B53131";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.danger {
    color: #FFF;
    background: #912D2B; }
    .color.danger:after {
      content: "danger:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.danger:before {
      content: "#912D2B";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.danger-background {
    color: #912D2B;
    border-color: #912D2B;
    background: #FFF2F2; }
    .color.danger-background:after {
      content: "danger-background:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.danger-background:before {
      content: "#FFF2F2";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.validation {
    color: #FFF;
    background: #915A01; }
    .color.validation:after {
      content: "validation:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.validation:before {
      content: "#915A01";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.validation-background {
    color: #915A01;
    border-color: #915A01;
    background: #FAF2E6; }
    .color.validation-background:after {
      content: "validation-background:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.validation-background:before {
      content: "#FAF2E6";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.create {
    color: #FFF;
    background: #449931; }
    .color.create:after {
      content: "create:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.create:before {
      content: "#449931";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.success {
    color: #FFF;
    background: #2C662D; }
    .color.success:after {
      content: "success:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.success:before {
      content: "#2C662D";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }
  .color.success-background {
    color: #2C662D;
    border-color: #2C662D;
    background: #FCFFF5; }
    .color.success-background:after {
      content: "success-background:";
      position: absolute;
      bottom: 2.5rem;
      left: 1rem;
      font-weight: bold; }
    .color.success-background:before {
      content: "#FCFFF5";
      position: absolute;
      bottom: 0.5rem;
      left: 1rem; }

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #2F3640;
  font-family: 'Source Code Pro', Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important; }

.pln {
  color: #E6E9ED; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #656D78; }

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #2F3640;
  list-style-type: decimal; }

@media screen {
  /* string content */
  .str {
    color: #FFCE54; }
  /* keyword */
  .kwd {
    color: #4FC1E9; }
  /* comment */
  .com {
    color: #656D78; }
  /* type name */
  .typ {
    color: #4FC1E9; }
  /* literal value */
  .lit {
    color: #AC92EC; }
  /* punctuation */
  .pun {
    color: #E6E9ED; }
  /* lisp open bracket */
  .opn {
    color: #E6E9ED; }
  /* lisp close bracket */
  .clo {
    color: #E6E9ED; }
  /* markup tag name */
  .tag {
    color: #00C4FF; }
  /* markup attribute name */
  .atn {
    color: #00ACFF; }
  /* markup attribute value */
  .atv {
    color: #9073FF; }
  /* declaration */
  .dec {
    color: #AC92EC; }
  /* variable name */
  .var {
    color: #E6E9ED; }
  /* function name */
  .fun {
    color: #E6E9ED; } }

body {
  padding-left: 2rem;
  background: #5A5854; }
  body #root > h1, body #root > section > header > h2, body #root > section > header.org-widget > header, body #root > section > h3 {
    color: #fff; }
  body #root > h1 {
    background: #333;
    padding: 2rem;
    margin: 0;
    margin-left: -2rem; }
    body #root > h1 small {
      display: block;
      font-size: 1.4rem; }
  body #root .guide-book {
    background: #457AB2; }
  body code,
  body .code,
  body pre {
    display: block;
    position: relative;
    font-family: 'Source Code Pro';
    font-size: 1.5rem;
    padding: 10px; }
    body code:before,
    body .code:before,
    body pre:before {
      display: block;
      width: calc(100%);
      color: #FFF;
      padding: 5px;
      text-transform: uppercase;
      content: attr(data-lang);
      background: #457AB2; }

section.guide {
  padding: 1rem;
  margin-bottom: 3rem;
  padding-left: 5rem; }
  section.guide > header {
    margin-bottom: 2rem; }
    section.guide > header h2, section.guide > header .org-widget > header {
      margin-left: -5rem; }
  section.guide > h3 {
    font-size: 18px;
    font-weight: 500;
    padding: 2rem 0rem; }
  section.guide .guide-component-name {
    color: #5A5854;
    font-size: 1.6rem;
    display: inline-block;
    padding: 1.5rem 2.5rem;
    background: #F8F8F8;
    border-radius: 0.5rem 0.5rem 0rem 0rem; }
  section.guide > atomic {
    position: relative;
    border: 0.1rem dashed #C4C4C4;
    padding: 3rem;
    display: block;
    background: #F8F8F8; }
    section.guide > atomic + pre {
      margin-bottom: 3rem; }
  section.guide .guide-usage {
    padding: 2rem 1rem;
    display: block;
    background: #d6d6d6; }
