/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, .tpl-program-console-portals header, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  min-height: 100%;
  min-width: fit-content; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans";
  background: #F8F8F8;
  color: #5A5854;
  font-size: 1.4rem; }

button {
  background-color: #FFF;
  border-radius: 0.6rem;
  padding: 1rem 3rem;
  border: #5A5854 solid 0.2rem;
  color: #5A5854;
  font-size: 1.4rem;
  cursor: pointer;
  white-space: nowrap; }
button.hover, button:hover {
  border-color: #2392EC;
  color: #457AB2; }
button:focus {
  border-color: #2392EC;
  color: #457AB2;
  box-shadow: 0rem 0rem 0.4rem 0.4rem rgba(69, 122, 178, 0.5); }
button:active, button.active {
  border-color: #2392EC;
  color: #457AB2;
  box-shadow: inset 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25); }
button:disabled, button.disabled {
  border-color: rgba(69, 122, 178, 0.3);
  color: rgba(69, 122, 178, 0.3);
  cursor: default; }
button:disabled:hover, button.disabled:hover {
  box-shadow: none; }

button.primary {
  background-color: #457AB2;
  color: #FFF;
  border: #457AB2 solid 0.2rem; }
button.primary.hover, button.primary:hover {
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25); }
button.primary:disabled, button.primary.disabled {
  background: rgba(69, 122, 178, 0.3); }

button.subdued {
  background-color: transparent;
  color: #2392EC;
  border: transparent solid 0.1rem; }
button.subdued.hover, table.org-table-dashboard tbody tr:hover td button, button.subdued:hover {
  border-color: #2392EC; }
button.subdued:focus {
  border-color: #2392EC; }
button.subdued:active, button.subdued.active {
  border-color: #2392EC; }
button.subdued:disabled, button.subdued.disabled {
  border-color: rgba(90, 88, 84, 0.3);
  color: rgba(90, 88, 84, 0.3); }

h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #5A5854; }

h2, .tpl-program-console-portals header {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #5A5854; }

h1.atom-page-title {
  display: flex; }

/**
---- SELECT ----
 */
select {
  display: inline-block;
  background: #FFF;
  border: 1px solid #5A5854;
  border-radius: 2px;
  padding-left: 1.5rem;
  padding-right: 3.5rem;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #5A5854;
  background: #FFF;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%235A5854%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 1.5rem top 50%, 0 0;
  background-size: .65em auto, 100%; }
select::-ms-expand {
  display: none; }
select option {
  font-weight: normal;
  font-size: 1.2rem; }

img.atom-image-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid #C4C4C4; }

.mol-counter-labeled {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #5A5854; }
.mol-counter-labeled span {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.2rem; }
.mol-counter-labeled small {
  font-size: 1.4rem;
  line-height: 3rem; }

section.org-kpi {
  border: 0.1rem solid #C4C4C4;
  border-radius: 0.5rem;
  background: #FFF;
  display: flex;
  flex-direction: row;
  padding: 1.4rem 0rem; }
section.org-kpi .mol-counter-labeled {
  border-right: 0.1rem solid #C4C4C4;
  flex: 1 1 0px; }
section.org-kpi .mol-counter-labeled:last-child {
  border-right: none; }

table.org-table-dashboard {
  width: 100%; }
table.org-table-dashboard td, table.org-table-dashboard th {
  padding: 1rem;
  line-height: 2rem;
  vertical-align: middle; }
table.org-table-dashboard td:first-child, table.org-table-dashboard th:first-child {
  padding-left: 3rem; }
table.org-table-dashboard td:last-child, table.org-table-dashboard th:last-child {
  padding-right: 3rem; }
table.org-table-dashboard thead th {
  color: #C4C4C4;
  font-size: 1.4rem;
  height: 6rem;
  text-align: left;
  font-weight: 700;
  line-height: 1.4rem;
  border-bottom: 0.1rem solid #C4C4C4; }
table.org-table-dashboard tbody {
  font-size: 1.6rem; }
table.org-table-dashboard tbody tr td {
  height: 4rem; }
table.org-table-dashboard tbody tr:hover td {
  background: rgba(35, 146, 236, 0.2);
  color: #2392EC; }

.tpl-program-console-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between; }
.tpl-program-console-header .col-half {
  width: 50%; }
.tpl-program-console-header .col-half:first-child {
  display: flex;
  flex-direction: row;
  justify-content: start; }
.tpl-program-console-header .col-half:first-child .atom-image-circle {
  margin-right: 2rem;
  height: 9rem;
  width: 9rem; }
.tpl-program-console-header .col-half:first-child .atom-page-title {
  margin-top: 1.5rem; }

.tpl-program-console-portals {
  border: 0.1rem solid #C4C4C4;
  border-radius: 0.5rem;
  background: #FFF;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3.5rem;
  min-height: 40rem;
  padding-top: 1rem; }
.tpl-program-console-portals header {
  position: absolute;
  top: -3.5rem; }
.tpl-program-console-portals .body {
  flex: 1 1 auto; }
.tpl-program-console-portals .body .org-table-dashboard {
  border-radius: 0.5rem;
  overflow: hidden; }
.tpl-program-console-portals footer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2.5rem;
  border-top: 0.1rem solid #C4C4C4;
  flex: 0 0 auto; }
