table.org-table-dashboard {
    width: 100%;

    td, th {
        padding: px(10);
        line-height: px(40);

        &:first-child {
            padding-left: px(30);
        }

        &:last-child {
            padding-right: px(30);
        }
    }

    thead th {
        color: rgba(90, 88, 84, 0.7);
        font-size: px(14);
        text-align: left;
    }

    tbody {
        font-size: px(16);

        tr:hover td {
            background: $color-secondary-light;
            color: $color-secondary;

            button {
                @extend button.subdued.hover
            }
        }
    }
}